doctype html
html
    head(lang="en")
    meta(charset="utf-8")
    title Receiver
    body
        script(src="#{env.protocol}://#{env.uri}:#{env.socketPort}/socket.io/socket.io.js")
        script(src="http://stream-it.dev:90/socket.io/socket.io.js")
        script(src="/socket.io-stream/socket.io-stream.js")
        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script.
            var buffer = '';
            $(function() {
                var socket = io.connect('http://stream-it.dev:90');
                socket.emit('setSenderSocket', window.location.hash.substring(1));
                var stream = ss.createStream();
                ss(socket).emit('needFile', stream);

                stream.on("data", function (data) {
                    buffer += data;
                });
                stream.on("end", function () {
                    document.location = 'data:Application/octet-stream,' + buffer;
                });
            });